In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#name the CSV file
election_file = "electiondata.csv"

In [3]:
#read the CSV file
election_df = pd.read_csv(election_file)

In [4]:
#preview the data
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [15]:
#Calculate total number of votes
candidatenumbers = election_df["Candidate"].value_counts()
candidatenumbers

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [68]:
#total the number of votes cast by summing the candidate counts
totalvotes = candidatenumbers.sum()
totalvotes

3521001

In [69]:
#Calculate the percentage of votes each candidate received
candidate_percentage = election_df["Candidate"].value_counts(normalize=True) * 100
candidate_percentage.round()

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [70]:
#Count the votes per candidate
candidate_count = election_df["Candidate"].value_counts()
candidate_count

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [71]:
total_stats= pd.concat([candidate_percentage, candidate_count], axis=1)
total_stats.round()

          Candidate  Candidate
Khan           63.0    2218231
Correy         20.0     704200
Li             14.0     492940
O'Tooley        3.0     105630

In [72]:
clean_stats = total_stats.rename(columns={"Candidate":" "})
clean_stats.round()

Khan      63.0  2218231
Correy    20.0   704200
Li        14.0   492940
O'Tooley   3.0   105630

In [74]:
#Print
print("Election Results")
print("-------------------------")
print(f"Total Votes: {totalvotes}")
print("-------------------------")

print("       " "% Votes", " ","Count Votes")

print(f"{clean_stats.round()}")
print("-------------------------")
print(f"Winner: Kahn!")

Election Results
-------------------------
Total Votes: 3521001
-------------------------
       % Votes   Count Votes

Khan      63.0  2218231
Correy    20.0   704200
Li        14.0   492940
O'Tooley   3.0   105630
-------------------------
Winner: Kahn!